[v-cloak] { 
    display: none; 
}

.ms-information {
    display: flex;
    margin-bottom: 28px
}

.ms-information p {
    margin: 0 30px;
}

.ms-information p:first-child {
    margin-left: 6px;
}

.ms-board {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content; 
}

.ms-board__row {
    display: flex;
    width: fit-content; 
}

.ms-board__cell {
    background-color: #ddd;
    border: 1px solid black;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;    
}

.ms-board__cell--open {
    background-color: white;
}

.ms-board__cell--flag {
    background-color: #eee;
}

.ms-board__cell--mine {
    background-color: red;
}