.ms-board {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content; 
}

.ms-board__row {
    display: flex;
    width: fit-content; 
}

.ms-board__cell {
    border: 1px solid black;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;    
}